*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and nav styles */

.nav-title{
    font-weight: 600;
    font-size: 38px;

}

.text-primary{
    color: #FD6E0A;
}

.header{
    
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png'),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    align-items: center;
    display: flex;
}

nav li{
    margin-left: 51px;
    list-style: none;
}
.btn-primary{
    cursor: pointer;
    padding: 18px 35px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
.btn-primary:hover{
    background-color: #f1c50e;
    color: #111111;
}


   /* Banner styles */

   .banner{
    
    align-items: center;
    display: flex;
    margin: 0 200px;
   }

   .banner-title{
    font-size: 50px;
    font-weight: 700;
   }

   .banner-sub-title{
    font-weight: 600;
    font-size: 38px;
   }

   .banner-description{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
   }
   /* .......Main.........  */
   /* ..........about me ..........  */

   .about{
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;    
    margin: 130px 230px;
    padding: 130px 150px;
   }

   .section-title{
    text-align: center;
     margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
   }

   .section-description{
    text-align: center;
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;

    
   }
   .about-info-container{
    display: flex;
    justify-content: space-around;
   }
   
   .about .info-title{
    font-weight: 400;
    font-size: 12px;
    color: #757575;
   }

   .info-description{
    font-weight: 400;
    font-size: 12px;
    color: #474747;
   }
   /* .......what i do styles */
   /* .what-i-do{
    margin: 130px 230px;
   } */

   .skills-container{
    display: flex;
    gap: 24px;
   }

   .skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 33px;
   }

   .skill-title{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top:30px ;
   }

   .skill-description{
    font-weight: 400;
    font-size: 12px;
    
   }
   /* ....... resume styles.......  */
   .resume-content{
    margin: 50px 50px;
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}


   .resume-button{
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
   }
   /* .......... Contact Form ..........  */

   .contact{
    background: #FFF8F3;
    gap: 100px;
    padding: 133px 230px;
    display: flex;
   }
    .contact .section-title{
        text-align: left;
    }
    .contact a{
        text-decoration: none;
        padding-right: 20px;
    }
    .contact input[type=text],textarea{
        margin-bottom: 24px;
        border: 0;
        width: 100%;
        padding: 10px 20px;
    }
    input[type=text]{
        height: 30px;
    }
    textarea{
        height: 64px;
    }
    .fa-download{
        padding-right: 10px;
    }
    /*  responsive portfolio */

    @media screen and (max-width:576px) {
        nav,
        .banner, 
        .skills-container,
         .about-info-container{
            gap: 20px;
            flex-direction:column;
            padding:10px 20px;
            
        }

        nav ul{
            flex-direction: column;
            gap: 20px;
            align-items:start ;
            padding-left: 10px;
        }
        .header{
            background-image: none;
        }
        .banner img{
            width: 300px;
        }
        
        .contact{
            flex-direction: column;
        }
        .about,.contact{
            padding: 20px;
            margin: 20px;
        }

        .resume-content{
            flex-direction: column;
            padding: 10px 20px;
        }
        .contact input[type=text],textarea{
            padding: 0 0 0 5px;
        }
    }
    @media screen and (min-width:577px) and (max-width:992px) {

        nav ul{
            flex-direction: column;
            gap: 20px;
            align-items:start ;
            padding-left: 10px;
        }
        .about,.contact{
            gap: 10px;
            padding: 100px;
            
        }
        .contact, .banner{
            flex-direction: column;
        }
        .contact input[type=text],textarea{
            padding: 0 0 0 5px;
        }
      

        
    }
    .hide{
        display: none;
    }